@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
body{
        background-color: #C0B9DD ;
        text-align : center;
        color:#80A1D4;
        font-family:"Sometype Mono", monospace;
}


.wrapper-h1 {
  margin-right: auto;
  margin-left:  auto;

  max-width: 700px;

  padding-right: 10px;
  padding-left:  10px;
    background-color: pink;

}



.container-xl{
    background-color:#80A1D4;
    min-height:120px;

}

.div-left{
    text-align:left;
    margin-right:10px;
}

h1{
    text-align: center;
    color:#75C9C8;
    font-size:60px;
    -webkit-text-stroke: 0.5px #250a0a;
/*    display: inline;*/

}
/*3*/
.button-54 {
    position : absolute;
    left: 10px;

    display: inline;
  margin-right: auto;
  margin-left: 0;
  text-align:left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #250a0a;
  cursor: pointer;
  border: 3px solid;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
/*  position: left;*/
    margin-top:15pt;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

/*@media (min-width: 768px) {*/
/*  .button-54 {*/
/*    padding: 0.25em 0.75em;*/
/*  }*/
/*}*/
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');*/





/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*  font-family: 'Poppins', sans-serif;*/
/*}*/





